#root {
  max-width: 100%;
  margin: 0 auto;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  box-sizing: border-box;
  background-color: #f1f1f1;

  --side-bar: #f5f6fa;
  --success-background: #dcfce7;
  --success-foreground: #166534;
  --warning-background: #fef3c7;
  --warning-foreground: #92400e;
  --error-background: #fee2e2;
  --error-foreground: #991b1b;
}
